@charset "UTF-8";
:root {
  --logo-color-blue: #2196f3;
  /* Цвет лого в шапке */
  --logo-color-footer: #fff;
  /* Цвет лого в подвале */
  --other-logo-color: #000;
  --accent-color: #2196f3;
  /* Цвет активных элементов */
  --button-color: #2196f3;
  --color-white: #fff;
  /* Цвет текста на темном фоне, основной цвет фона */
  --main-bkg-color: #fff;
  /* Основной цвет фона */
  --alt-bkg-color: #e5e5e5;
  /* Цвет фона некоторых секций */
  --sub-bkg-color: #2f303a;
  /* Цвет фона шапки и подвала */
  --text-color-dark: #212121;
  /* Цвет текста  (серый потемнее) */
  --text-color-light: #757575;
  /* Цвет текста  (серый посветлее) */
  --button-bkg-color: #f5f4fa;
  /* Цвет фона кнопок фильтра в неактивном состоянии*/
  --section-color: #f5f4fa;
  --border-color: #ececec;
  --social-link-color: #afb1b8;
  --card-gap: 30px;
  /* break points*/
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-full: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bkg-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71429;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .occupation {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
}

@media screen and (min-width: 768px) {
  .team {
    margin-left: calc(-1 * var(--card-gap));
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-color-dark);
  margin-bottom: 50px;
  text-align: center;
}

.section__color_dark {
  background-color: var(--section-color);
}

.section_no-padding {
  padding-bottom: 0px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
  fill: currentColor;
}

.social-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: calc(100vw - 10vw);
  min-height: 581px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}

.modal-close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: var(--accent-color);
}

.modal-close-icon {
  height: 100%;
  width: 100%;
}

.hero-modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-color-dark);
  margin-bottom: 12px;
}

.mobile-menu__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--text-color-dark);
  cursor: pointer;
}

.mobile-menu__item:not(last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: var(--text-color-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link_current {
  color: var(--accent-color);
}

.mobile-menu-cross {
  border: none;
  background-color: transparent;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-cross:hover, .mobile-menu-cross:focus {
  fill: var(--accent-color);
}

.mobile-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

/*.mobile-menu__pages {
  margin-bottom: 302px;
}*/
.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
}

.mobile-menu__contacts-item:not(last-child) {
  margin-bottom: 32px;
}

.mobile-menu__tel {
  color: var(--accent-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17647;
  letter-spacing: 0.02em;
}

.mobile-menu__mail {
  color: var(--text-color-light);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: 0.02em;
}

.mobile-menu__socials {
  display: flex;
}

.mobile-menu__socials-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22222;
  letter-spacing: 0.02em;
}

.mobile-menu__socials-item:not(last-child) {
  margin-right: 20px;
}

.mobile-menu__social-link {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

/*.header-list {

    display: flex;
    justify-content: space-between;

}*/
.header__container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  color: var(--other-logo-color);
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-blue {
  color: var(--logo-color-blue);
}

.site-nav {
  display: flex;
}

.site-nav__navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav__navigation {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link_current::after {
  position: absolute;
  bottom: -34px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--text-color-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus, .site-nav__link.site-nav__link_current {
  color: var(--accent-color);
}

.main-contacts {
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .main-contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main-contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .main-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main-contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.main-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.main-contacts__link {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-contacts__link:hover, .main-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*.site-nav__dropdown-menu {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}*/
.site-nav__menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__menu-button {
    display: none;
  }
}

.site-nav__menu-button:hover, .site-nav__menu-button:focus {
  fill: var(--accent-color);
}

/*.site-nav__menu-button .site-nav__icon-cross {
  display: none;
}

.site-nav__menu-button.is-open .site-nav__icon-cross {
  display: block;
}

.site-nav__menu-button.is-open .site-nav__icon-menu {
  display: none;
}*/
.site-nav__menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  z-index: 999;
  background-color: var(--color-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.site-nav__menu-container.is-open {
  transform: translateX(0);
}

.hero {
  background-color: var(--sub-bkg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-mobile-2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-tablet-1x.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-tablet-2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-full-1x.jpg");
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img-full-2x.jpg");
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--button-color);
  color: var(--color-white);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.hero-form__label {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--text-color-light);
}

.hero-form__span {
  display: block;
  position: relative;
  margin-top: 4px;
}

.hero-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
}

.hero-form__field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 37px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form__field:focus {
  border-color: var(--accent-color);
}

.hero-form__field:focus + .hero-form__icon {
  fill: var(--accent-color);
}

.hero-form__textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form__textarea:focus {
  border-color: var(--accent-color);
}

.hero-form__textarea::placeholder {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__label-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--text-color-light);
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

.hero-form__checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hero-form__checkbox:checked + .hero-form__checkbox-icon {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.hero-form__checkbox-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--text-color-dark);
  margin-right: 9px;
}

.hero-form__check-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form__check-conditions {
  color: var(--accent-color);
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.01em;
}

.hero-form__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
}

@media screen and (min-width: 768px) {
  .features {
    margin-left: calc(-1 * var(--card-gap));
  }
}

.features__svg-container {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .features__svg-container {
    width: 354px;
    height: 120px;
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .features__svg-container {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
  }
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-dark);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  color: var(--text-color-light);
  text-align: left;
}

.features__item {
  flex-basis: 100%;
  margin-top: var(--card-gap);
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .occupation-title {
    display: none;
  }
}

.occupation-item {
  position: relative;
  flex-basis: calc(100% / 3 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.occupation-item > .occupation-app {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 27px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--color-white);
  text-align: center;
}

.team__item {
  flex-basis: 100%;
  margin-top: var(--card-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
  text-align: center;
}

.team__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.team__card-box {
  padding: 30px 0px;
  background-color: var(--color-white);
}

.clients__item {
  height: 92px;
  flex-basis: calc(100% / 2 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    flex-basis: calc(100% / 3 - 1 * var(--card-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    flex-basis: calc(100% / 6 - 1 * var(--card-gap));
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  fill: currentColor;
}

.clients__icon {
  fill: currentColor;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
}

@media screen and (min-width: 768px) {
  .projects {
    margin-left: calc(-1 * var(--card-gap));
  }
}

.projects__thumb {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-white);
  padding: 63px 24px 0px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55556;
  letter-spacing: 0.03em;
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  transform: translateY(0);
}

.projects__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-dark);
  text-align: left;
}

.projects__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  margin-top: 4px;
  text-align: left;
}

.projects__content {
  padding: 20px 24px;
}

.projects__item {
  flex-basis: 100%;
  margin-top: var(--card-gap);
}

@media screen and (min-width: 768px) {
  .projects__item {
    flex-basis: calc(100% / 2 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc(100% / 3 - 1 * var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }
}

.filter {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  margin-left: calc(-8px);
  margin-top: calc(-15px);
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

/*.filter__item:not(:last-child) {
  margin-right: 8px;
}*/
.filter__item {
  margin-left: 8px;
  margin-top: 15px;
}

.filter__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--button-bkg-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__logo {
  color: var(--logo-color-footer);
}

.footer {
  background-color: var(--sub-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-right: 0px;
}

.footer .container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    text-align: left;
  }
}

.address-list__address {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer__address {
  margin-top: 20px;
}

.footer__address .address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer__social-list {
    justify-content: left;
  }
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-link .footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-icon {
  fill: currentColor;
}

.footer__join-title {
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857;
  letter-spacing: 0.03em;
}

.footer__list {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer__list {
    display: flex;
    align-items: baseline;
  }
}

.footer__item-address {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__item-address {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item-address {
    flex-grow: 1;
    margin-bottom: 0px;
    margin-right: 70px;
  }
}

.footer__socials {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-bottom: 0px;
    margin-right: 93px;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
  }
}

.footer__email-field {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--sub-bkg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  padding-left: 16px;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .footer__email-field {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .footer__email-field {
    width: 358px;
  }
}

.footer__email-field::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button-submit {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: var(--button-color);
  border-radius: 4px;
  border: 1px solid var(--button-color);
  cursor: pointer;
  padding-left: 29px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-white);
  align-items: center;
}

.footer__button-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__first-part {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer__first-part {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=main.css.map */